<header role="banner" class="frontpage-header"
        data-stellar-background-ratio="0.5">
  <div class="row">
    <div class="text-center">
      <img class="rounded" src="../assets/img/HACKEPSweb.png" alt="HackEps logo"
           style="max-width: 40%;">
      <p class="text-center" id="fh5co-intro-social">
        <a style="color: rgba(255, 255, 255, 0.7)" href="https://www.facebook.com/LleidaDevelopers/"><i
          class="fa fa-facebook fa-5x"></i></a>
        <a style="color: rgba(255, 255, 255, 0.7)" href="https://twitter.com/hackeps" class="to-animate"><i class="fa fa-twitter fa-4x"></i></a>
        <a style="color: rgba(255, 255, 255, 0.7)" href="mailto:hackeps2017@gmail.com" class="to-animate"><i class="fa fa-envelope fa-4x"></i></a>
      </p>
    </div>
  </div>
</header>
<div class="row" style="background-color: white">
  <div class="col col-md-5">
    <h2>Preguntas Frecuentes</h2>
    <p style="color: #88929a">Aquí intentamos resolver algunas dudas y dejar claros aspectos generales de la hackathon. Si tiene alguna duda
      más no tenga duda en contactar con la organización de la HackEPS.</p>
  </div>
  <div class="col col-md-7">
    <div>
      <h3>¿Qué es una hackathon?</h3>
    </div>
  </div>
</div>
