<header role="banner" data-stellar-background-ratio="0.5">
  <div class="col-md-12">
    <div align="center">
      <img id="hackeps-logo" class="rounded transition-logo" src="/hackeps2018/assets/img/HACKEPSweb.png" alt="HackEps logo"
           style="max-width: 40%;">
      <div>
        <h4 class="frontpage-icon">¡INSCRIPCIONES ABIERTAS!</h4>
        <a href="https://lleidahack.typeform.com/to/B1vOJX" class="btn mail-button">¡Deseo inscribirme!</a>
      </div>
      <p class="p-5" align="center">
        <a href="https://www.facebook.com/HackEPS/"><i
          class="frontpage-icon fa fa-facebook fa-4x"></i></a>
        <a href="https://twitter.com/hackeps" class="to-animate"><i class="frontpage-icon fa fa-twitter fa-4x"></i></a>
        <a href="mailto:lleidahack@gmail.com" class="to-animate"><i
          class="frontpage-icon fa fa-envelope fa-4x"></i></a>
        <a href="https://www.instagram.com/hackeps2018/" class="to-animate"><i
          class="frontpage-icon fa fa-instagram fa-4x"></i></a>
      </p>
    </div>
  </div>
</header>
<div id="faqs" class="col-md-12 p-5">
  <div class="row">
    <div class="col-md-4 offset-md-1">
      <h2 class="frontpage-font-black">Preguntas Frecuentes</h2>
      <span id="faqs-line"></span>
      <p class="p-3 frontpage-font-description">Aquí intentamos resolver algunas dudas y dejar claros aspectos generales
        de la
        hackathon. Si tienes alguna duda
        adicional, ponte en contacto con la organización de la HackEPS.</p>
    </div>
    <div class="col-md-6 offset-md-1">
      <div>
        <h4 class="frontpage-font-black">¿Qué es una hackathon?</h4>
        <details>
          <summary class="frontpage-font-description">Respuesta</summary>
          <p class="p-2 frontpage-font-description">Una hackathon es un evento donde el motor principal es el desarrollo
            de software. Los diferentes equipos que se
            apunten tendrán que desarrollar un producto informático completo en el tiempo fijado. Una vez se haya
            agotado
            el
            tiempo para la codificación del proyecto, los equipos deberán presentar su producto ante un jurado, que
            elegirá
            la mejor solución al problema planteado.</p>
        </details>
      </div>
      <div>
        <h4 class="frontpage-font-black">¿Qué es la HackEPS?</h4>
        <details>
          <summary class="frontpage-font-description">Respuesta</summary>
          <p class="p-2 frontpage-font-description">La segunda edición de la Hackathon en la Universidad de Lleida, con
            el
            objetivo de motivar a la programación como afición.</p>
        </details>
      </div>
      <div>
        <h4 class="frontpage-font-black">¿Cuándo es la HackEPS?</h4>
        <details>
          <summary class="frontpage-font-description">Respuesta</summary>
          <p class="p-2 frontpage-font-description">El fin de semana del 17 al 18 de noviembre, empieza el sábado y
            acaba
            el domingo.</p>
        </details>
      </div>
      <div>
        <h4 class="frontpage-font-black">¿Cuánto cuesta?</h4>
        <details>
          <summary class="frontpage-font-description">Respuesta</summary>
          <p class="p-2 frontpage-font-description">Los participantes solamente se tienen que encargar de traer muchas
            ganas de diseñar, programar y aprender (y traer portátil y cargador), que de la comida, el
            internet y el lugar
            nos encargamos nosotros.</p>
        </details>
      </div>
      <div>
        <h4 class="frontpage-font-black">¿24 horas sin dormir?</h4>
        <details>
          <summary class="frontpage-font-description">Respuesta</summary>
          <p class="p-2 frontpage-font-description">Sí pero no. Quien quiera (y pueda aguantar) puede estarlo y
            aprovechar al máximo las horas de dedicación al proyecto, pero habilitaremos zonas oscuras y silenciosas
            donde
            podréis descansar. Recomendamos traer esterilla y saco de dormir.</p>
        </details>
      </div>
      <div>
        <h4 class="frontpage-font-black">¿Se participa en equipos?</h4>
        <details>
          <summary class="frontpage-font-description">Respuesta</summary>
          <p class="p-2 frontpage-font-description">Sí, equipos de máximo 4 personas. Nuestra experiencia dice que 3 o 4
            personas es lo mejor.</p>
        </details>
      </div>
      <div>
        <h4 class="frontpage-font-black">¿Y si no tengo equipo?</h4>
        <details>
          <summary class="frontpage-font-description">Respuesta</summary>
          <p class="p-2 frontpage-font-description">¡No te preocupes! Las posibilidades son infinitas. Puedes buscar un
            equipo una vez llegues al recinto, junto con otra gente que no tiene equipo, o bien juntarte a un equipo con
            algún vacante libre, o... ¡participar por libre!</p>
        </details>
      </div>
      <div>
        <h4 class="frontpage-font-black">¿Dónde será la HackEPS?</h4>
        <details>
          <summary class="frontpage-font-description">Respuesta</summary>
          <p class="p-2 frontpage-font-description">En la Escuela Politécnica Superior de la Universitat de Lleida
            (campus
            de Cappont). C/ de Jaume II, 69, 25001 Lleida.</p>
        </details>
      </div>
      <div>
        <h4 class="frontpage-font-black">¿Quién puede presentarse? ¿Y cuánta gente en total?</h4>
        <details>
          <summary class="frontpage-font-description">Respuesta</summary>
          <p class="p-2 frontpage-font-description">Cualquier persona mayor de 18 años con ganas de programar, diseñar,
            aprender y, sobre todo ¡pasar un buen rato programando!
            Abriremos inscripciones con un máximo de 100 plazas y, una vez estén llenas, se cierran inscripciones.</p>
        </details>
      </div>
      <div>
        <h4 class="frontpage-font-black">¿Quieres colaborar con nosotros?</h4>
        <details>
          <summary class="frontpage-font-description">Respuesta</summary>
          <p class="p-2 frontpage-font-description">Estamos abiertos a cualquier tipo de colaboración ya sea como un
            organizador más, como sponsor o como mentor. Contacta con nosotros.</p>
        </details>
      </div>
    </div>
  </div>

</div>
<div id="schedule" class="col-md-12 p-5">
  <div class="row">
    <h1 align="center" class="col-md-12 frontpage-font">Horario</h1>
    <div class="col-md-6">
      <h3 class="frontpage-font">Sábado, 17 de noviembre.</h3>
      <h5 class="frontpage-font">08:30 - Se incia el check-in.</h5>
      <h5 class="frontpage-font">10:30 - Finaliza el check-in (si alguien debe llegar más tarde, no hay
        problema, pero habría que avisar por correo para tenerlo en cuenta).</h5>
      <h5 class="frontpage-font">10:40 - Ceremonia de apertura.</h5>
      <h5 class="frontpage-font">12:00 - ¡Empieza la hackathon!</h5>
      <h5 class="frontpage-font">14:00 - Hora de comer.</h5>
      <h5 class="frontpage-font">20:30 - Hora de cenar.</h5>
    </div>
    <div class="col-md-6">
      <h3 class="frontpage-font">Domingo, 18 de noviembre.</h3>
      <h5 class="frontpage-font">01:00 - Snack-time.</h5>
      <h5 class="frontpage-font">08:00 - Desayuno.</h5>
      <h5 class="frontpage-font">12:00 - Se acaba el tiempo de programación.</h5>
      <h5 class="frontpage-font">12:30 - Presentación de las soluciones a los tribunales.</h5>
      <h5 class="frontpage-font">13:30 - Entrega de premios y ceremonia de clausura.</h5>
    </div>
  </div>
</div>
<div id="sponsors" class="col-md-12 p-5">
  <div class="row">
    <h2 class="col-md-12 frontpage-font-black text-center">Colaboradores</h2>
  </div>
  <div class="row p-3">
    <a class="col-md-12 text-center" href="http://www.eps.udl.cat/ca/" target="_blank">
      <img src="/hackeps2018/assets/img/EPS.png" alt="Escola Politècnica Superior" class="img-fluid">
    </a>
  </div>
  <div class="row">
    <div class="col-md-3 offset-md-3">
      <a href="https://www.semic.es/" target="_blank">
        <img src="/hackeps2018/assets/img/semic.png" alt="Semic" class="img-fluid float-md-right">
      </a>
    </div>
    <div class="col-md-3">
      <a href="https://www.cag.es/" target="_blank">
        <img src="/hackeps2018/assets/img/bonarea.png" alt="BonÀrea"
             class="img-fluid">
      </a>
    </div>
  </div>
  <div class="row p-3">
    <div class="col-md-3 offset-3">
      <a href="https://www.stratesys-ts.com/es/" target="_blank">
        <img src="/hackeps2018/assets/img/stratesys.png" alt="Stratesys" class="img-fluid float-md-right">
      </a>
    </div>
    <div class="col-md-3">
      <a href="https://www.xtrategics.com/" target="_blank">
        <img src="/hackeps2018/assets/img/xtrategics.png" alt="Xtrategics"
             class="img-fluid">
      </a>
    </div>
  </div>
  <div class="row p-5">
    <div class="col-md-3 offset-1">
      <a href="https://enginyeriainformatica.cat/" target="_blank">
        <img src="/hackeps2018/assets/img/colegi-info.png" alt="colegi-info" class="img-fluid float-md-right">
      </a>
    </div>
    <div class="col-md-3">
      <a href="https://www.intech3d.es/" target="_blank">
        <img src="/hackeps2018/assets/img/intech3d.png" alt="Intech3d" class="img-fluid">
      </a>
    </div>
    <div class="col-md-3">
      <a href="http://www.coetic.cat/" target="_blank">
        <img src="/hackeps2018/assets/img/coetic.png" alt="coetic"
             class="img-fluid">
      </a>
    </div>
  </div>
  <div class="row p-5">
    <div class="col-md-3 offset-1">
      <a href="https://alumni.udl.cat/alumni/" target="_blank">
        <img src="/hackeps2018/assets/img/alumni.jpg" alt="Alumni"
             class="img-fluid">
      </a>
    </div>
    <div class="col-md-3">
      <a href="https://www.dominospizza.es" target="_blank">
        <img src="../../assets/img/dominos_pizza.png" alt="dominos"
             class="img-fluid">
      </a>
    </div>
    <div class="col-md-3 offset-1">
      <a href="http://arfonfruits.com/" target="_blank">
        <img src="/hackeps2018/assets/img/arfonfruits.png" alt="arfonfruits"
             class="img-fluid">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 offset-5">
      <a href="https://www.jetbrains.com" target="_blank">
        <img src="../../assets/img/jetbrains.svg" alt="Jetbrains"
             class="img-fluid">
      </a>
    </div>
  </div>
</div>
<footer class="col-md-12">
  <div class="row">
    <a id="terms-and-conditions" class="col-md-12 text-center frontpage-font p-5"
       [routerLink]="['/terms']">Términos y condiciones</a>
  </div>
  <div class="row">
    <a id="footer-links" class="col-md-12 text-center frontpage-font"
       target="_blank" href="https://lleidahack.github.io/hackeps2017/">Visita la web de Hackeps 2017</a>
  </div>
</footer>
